.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
    
}
.vespa-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    margin: 100px 50px;
}
.cart{
    background-color: rgba(75, 160, 194, 0.411);
    
    
}
.cart h1{
    text-align: center;
    margin-top: 34px;
}
.wow{
    position: sticky;
    top: 0;
}