.singleVespa{
    width: 300px;
    height: 390px;
    border: 2px solid green;
    border-radius: 10px;
    position: relative;
}
.singleVespa img{
    height: 250px;
    margin:7px;
    width: 286px;
    border-radius: 5px;
}
.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    margin-left: 20px;
    margin-top: 0px;
}
.product-price{
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom:15px;
}
.btn{
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    background: rgba(75, 160, 194, 0.411);
    border: 0;
    position: absolute;
     bottom: 0;
}